:root{
    --theme-color : #1A1B1F;
    --main-backgroundColor : #111013;
    --white : #fff;
    --black : #000;
    --red : #c42121;
    --darkColor : #060C11;
    --greyColor : #747474;
    --darkColor2 : #202020;
    --primary-color : #0082D6;
    --greyColor2 : #C6C6C7;
  }
  